<div style="margin: 5%; text-align: center">
    <h2>Evalúe a sus proveedores</h2>
    <p>
      Para ofrecerle una mejor experiencia y productos, por favor evalúe a sus
      proveedores
    </p>
  
    <div id="rating" *ngFor="let vendorInfo of uniqueVendorInfo">
      <div style="margin-top: 2%">
        <div>
          <h3 id="nombreVendedor">{{ vendorInfo.name }}</h3>
        </div>
  
        <div>
          <span id="puntPromedio"></span>
          <span> puntuación promedio</span>
        </div>
      </div>
      <div>
        <mat-icon
          
          (click)="keepIcon(vendorInfo, 1)"
        >{{ vendorInfo.starStates[0] ? 'star_rate' : 'star_border' }}</mat-icon>
        <mat-icon
          
          (click)="keepIcon(vendorInfo, 2)"
        >{{ vendorInfo.starStates[1] ? 'star_rate' : 'star_border' }}</mat-icon>
        <mat-icon
          
          (click)="keepIcon(vendorInfo, 3)"
        >{{ vendorInfo.starStates[2] ? 'star_rate' : 'star_border' }}</mat-icon>
        <mat-icon
          
          (click)="keepIcon(vendorInfo, 4)"
        >{{ vendorInfo.starStates[3] ? 'star_rate' : 'star_border' }}</mat-icon>
        <mat-icon
          
          (click)="keepIcon(vendorInfo, 5)"
        >{{ vendorInfo.starStates[4] ? 'star_rate' : 'star_border' }}</mat-icon>
      </div>
  
    </div>
    <button  style="margin-top: 5%; " (click)="guardarEvaluacion()">Enviar</button>
  </div>
  
  