<div style="margin: 5%; text-align: center">
  <h2>Evalúe a sus proveedores</h2>
  <p>
    Para ofrecerle una mejor experiencia y productos, por favor evalúe a sus
    proveedores
  </p>

  <div id="rating" >
    <table
        mat-table
        [dataSource]="dataSource"
        class="full-width-table"
        matSort
        aria-label="Elements"
      >
        <!-- Columna Vendedor -->
        <ng-container matColumnDef="vendedor">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Proveedor</th>
          <td mat-cell *matCellDef="let row">{{ row.name}}</td>
        </ng-container>

        <!-- Columna acciones -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let row">
            <button mat-mini-fab class="btnDetalle"
              color="accent"
              matTooltip="Evaluacion"
              aria-label="Evaluacion"
              color="primary"
              (click)="evaluacion(row.id)"
            >
            <mat-icon>rate_review</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        #paginator
        [length]="dataSource?.data?.length"
        [pageIndex]="0"
        [pageSize]="3"
        [pageSizeOptions]="[3, 5, 10]"
        aria-label="Selecccione una página"
      >
      </mat-paginator>
    </div>
    
  </div>
