.color{
    background-color:#C6AC8F !important;
  } 
  .titulo{
    text-align: center;
    color: #22333B;
    margin: 1%;
  }
  .full-width-table {
    width: 100%;
  }
  body {
    background-color: #c6ac8f !important;
    margin-bottom: 5rem;
  
  }
  .color {
    background-color: #c6ac8f !important;
    margin-bottom: 5rem;
  
  }
  .titulo {
    text-align: center;
    color: #22333b;
    margin: 1%;
  }
  .btnDetalle:hover {
    background-color: #c44536;
  }
  
  .fotoProducto {
    margin-top: 5%;
    height: 5rem;
    width: 5rem;
    object-fit: contain;
  
  }
  .btnAcciones{
    margin-left: 2%;
    margin-right: 2%;
  }
  .btnAcciones:hover{
    background-color: #C44536;
  }
  .btnCrear{
    margin-bottom: 1%;
  }
  