<!-- <p>producto-index works!</p> -->
<div class="grid-container" fxLayout="row" fxLayoutAlign="start start">
  <mat-grid-list [cols]="gridCols">
    <mat-grid-tile *ngFor="let item of datos">
      <mat-card class="dashboard-card">
        <img
          mat-card-image
          class="fotoProducto"
          *ngIf="item.FotoProducto[0] !== undefined"
          [src]="'data:image/jpeg;base64,' + item.FotoProducto[0].Foto"
          alt="Foto de + {{ item.Nombre }}"
        />
        <mat-card-header>
          <mat-card-title>{{ item.Nombre }}</mat-card-title>

          <mat-card-subtitle
            >{{ item.categoria.Descripcion + " - " + item.estado.Descripcion }}
            <h3 class="precio">{{ item.Precio | currency : "₡" }}</h3>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-divider inset></mat-divider>
        
        <mat-card-actions>
          <div class="dk">
            <mat-icon>add_shopping_cart</mat-icon>Añadir al carrito
          </div>
          <button class="dk" (click)="detalleProducto(item.id)">
            Ver Producto
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
