@use '@angular/material' as mat;

@include mat.core();

$cream-palette: (
    50 : #f8f5f2,
    100 : #eee6dd,
    200 : #e3d6c7,
    300 : #d7c5b1,
    400 : #cfb8a0,
    500 : #c6ac8f,
    600 : #c0a587,
    700 : #b99b7c,
    800 : #b19272,
    900 : #a48260,
    A100 : #ffffff,
    A200 : #ffefe0,
    A400 : #ffd5ad,
    A700 : #ffc893,
    contrast: (
        50 : rga(black,0.87),
        100 : rga(black,0.87),
        200 : rga(black,0.87),
        300 : rga(black,0.87),
        400 : rga(black,0.87),
        500 : rga(black,0.87),
        600 : rga(black,0.87),
        700 : rga(black,0.87),
        800 : rga(black,0.87),
        900 : rga(black,0.87),
        A100 : rga(black,0.87),
        A200 : rga(black,0.87),
        A400 : rga(black,0.87),
        A700 : rga(black,0.87),
    )
);

$app-primary: mat.define-palette(mat.$grey-palette,900);
$app-accent: mat.define-palette(mat.$blue-palette, A200, A100, A400);
$app-warn: mat.define-palette(mat.$red-palette); 
$app-background :mat.define-palette($cream-palette,500);

$app-theme: mat.define-light-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn,
  )
));

@include mat.all-component-themes($app-theme);

