<!-- <p>producto-detail works!</p> -->

<mat-dialog-content class="dialog-content">
  <!-- Contenido de la primera parte de la página -->
  <div class="dialog-left">
    <div class="product">
      <c-carousel>
        <c-carousel-indicators></c-carousel-indicators>
        <c-carousel-inner>
          <c-carousel-item *ngFor="let item of datos.FotoProducto">
            <img
              [src]="'data:image/jpeg;base64,' + item.Foto"
              class="d-block w-100"
              loading="lazy"
            />
          </c-carousel-item>
        </c-carousel-inner>
        <c-carousel-control
          [routerLink]
          caption="Previous"
          direction="prev"
        ></c-carousel-control>
        <c-carousel-control
          [routerLink]
          caption="Next"
          direction="next"
        ></c-carousel-control>
      </c-carousel>



      <div class="productInfo" *ngIf="datos">
        <h2 mat-dialog-title class="titulo">{{ datos.Nombre }}</h2>
        <mat-dialog-content>
          <h4>{{ "Tipo de Producto: " + datos.categoria.Descripcion }}</h4>

          <p>{{ datos.Descripcion }}</p>
          <p>
            {{
              "Proveedor: " +
                datos.vendedor.Nombre +
                " " +
                datos.vendedor.Apellido
            }}
          </p>
          <p>{{ "Disponibles: " + datos.Cantidad }}</p>
          <h4>{{ "Estado: " + datos.estado.Descripcion }}</h4>
          <h4>{{ datos.Precio | currency : "₡" }}</h4>
        </mat-dialog-content>

        <div class="botones">
          <button mat-raised-button class="btnAccion" color="primary">
            <mat-icon>add_shopping_cart</mat-icon>Añadir al carrito
          </button>
        </div>
      </div>
    </div>

    <div class="reviews">
      <div class="dialog-left-questions">
        <mat-grid-list [cols]="1" class="grid-list">
          <h3>Preguntas de usuarios</h3>
          <br />
          <div id="Preguntas">
            <mat-card class="dashboard-card" *ngFor="let item of datosMensaje">
              <mat-card-subtitle>
                <p>Pregunta</p>
              </mat-card-subtitle>
              <mat-card-content class="dashboard-card-content">
                <div>{{ item.Pregunta }}</div>
              </mat-card-content>
              <div *ngIf="item.Respuesta !== null && item.Respuesta !== ''">
                <mat-card-subtitle class="resp">
                  <p>Respuesta</p>
                </mat-card-subtitle>
                <mat-card-content class="dashboard-card-content resp">
                  <div>{{ item.Respuesta }}</div>
                </mat-card-content>
              </div>
            </mat-card>
          </div>
        </mat-grid-list>
      </div>

      <div *ngIf="currentUser" class="dialog-right-questions">
        <form [formGroup]="preguntaForm" (ngSubmit)="crearPregunta()">
          <h4>¿Tiene alguna pregunta para el proveedor?</h4>
          <input type="hidden" formControlName="id" />
          <input type="hidden" formControlName="clienteId" />
          <mat-form-field class="full-width">
            <mat-label>Escriba aquí</mat-label>
            <textarea matInput formControlName="pregunta" maxlength="500">
            </textarea>
            <mat-hint align="end"> / 500</mat-hint>
            <mat-error> La pregunta es <strong>requerida</strong>
            </mat-error>
            <!-- <mat-error *ngIf="errorHandling('pregunta','required')">
                  Nombre es <strong>requerido</strong>
                </mat-error>
                <mat-error *ngIf="errorHandling('pregunta','minlength')">
                  Nombre debe tener <strong>3 caracteres</strong>
                </mat-error> -->
          </mat-form-field>
          <mat-card-actions>
            <button
              mat-raised-button
              class="btnGuardar"
              color="primary"
              type="submit"
            >
              Guardar
            </button>
          </mat-card-actions>
        </form>
      </div>
      <div *ngIf="!currentUser">
        <h4>¿Tiene alguna pregunta para el proveedor?</h4>
        <h5>Inicia sesión para dejar un comentario.</h5>
      </div>

    </div>
  </div>

  <!-- Contenido de la segunda parte de la página -->
  <div class="dialog-right">
    <div class="recommended">
      <div *ngFor="let item of listaRecomendados">
        <button
          *ngIf="item.id !== datos.id"
          atTooltip="Detalle Producto"
          aria-label="Detalle Producto"
          (click)="detalleProducto(item.id)"
          class="recommendedCard"
        >
          <img
            mat-card-image
            *ngIf="item.FotoProducto[0] !== undefined"
            [src]="'data:image/jpeg;base64,' + item.FotoProducto[0].Foto"
            alt="Foto de + {{ item.Nombre }}"
          />
          <div>
            {{ item.Nombre }}
            <div class="dk">{{ item.Precio | currency : "₡" }}</div>
          </div>
        </button>
      </div>
    </div>
  </div>
</mat-dialog-content>
