<mat-card class="full-width color">
    <!-- Titulo del Card -->
    <mat-card-title>
      <h1 class="titulo">Usuarios activos registrados</h1>
    </mat-card-title>
    <mat-card-content>
      <button mat-raised-button color="primary" class="btnAcciones btnCrear" >
        Crear usuario
      </button>
      <br />
  
      <!-- Table -->
      <div class="mat-elevation-z8" *ngIf="dataSource">
        <table
          mat-table
          [dataSource]="dataSource"
          class="full-width-table"
          matSort
          aria-label="Elements"
        >

          <!-- Columna Nombre -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Completo</th>
            <td mat-cell *matCellDef="let row">
              {{ row.Nombre + " " + row.Apellido}}
            </td>
          </ng-container>

          <!-- Columna Roles -->
          <ng-container matColumnDef="roles">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Roles</th>
            <td mat-cell *matCellDef="let row">
              <span *ngFor="let item of row.Roles">
                - {{item.rol.Descripcion}}
                <br>
              </span>
            </td>
          </ng-container> 

          <!-- Columna acciones -->
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>Deshabilitar usuario</th>
            <td mat-cell *matCellDef="let row">
              <button
              class="btnAcciones"
                mat-mini-fab
                color="accent"
                matTooltip="Deshabilitar usuario"
                aria-label="Deshabilitar usuario"
                color="primary"
                (click)="obtenerUsuario(row.id)"
              >
                <mat-icon>person_remove</mat-icon>
              </button>
              
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
  
        <mat-paginator
          #paginator
          [length]="dataSource?.data?.length"
          [pageIndex]="0"
          [pageSize]="5"
          [pageSizeOptions]="[5, 10, 15]"
          aria-label="Selecccione una página"
        >
        </mat-paginator>
      </div>
      <!-- Table -->
    </mat-card-content>
  </mat-card>




              <!-- Columna Foto -->
<!--             <ng-container matColumnDef="foto">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Foto</th>
                <td mat-cell *matCellDef="let row">
                  <img
                    *ngIf="row.FotoProducto[0] !== undefined"
                    mat-card-image
                    class="fotoProducto"
                    [src]="'data:image/jpeg;base64,' + row.FotoProducto[0].Foto"
                    alt="Foto de + {{ row.Nombre }}"
                  />
                </td>
              </ng-container> -->

                        <!-- Columna Roles -->
<!--           <ng-container matColumnDef="roles">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Roles</th>
            <td mat-cell *matCellDef="let row">
              {{ row.Nombre }}
            </td>
          </ng-container> -->
          <!-- Columna Precio-->