<mat-card class="full-width color">
  <!-- Titulo del Card -->
  <mat-card-title>
    <h1 class="titulo">Pedidos</h1>
  </mat-card-title>
  <mat-card-content>
    <!-- Table -->
    <div class="mat-elevation-z8" *ngIf="dataSource">
      <table
        mat-table
        [dataSource]="dataSource"
        class="full-width-table"
        matSort
        aria-label="Elements"
      >
        <!-- Columna Cliente -->
        <ng-container matColumnDef="orden">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Orden No.</th>
          <td mat-cell *matCellDef="let row">{{ row.compra.id }}</td>
          <!-- <td mat-cell *matCellDef="let row">{{ row.compra.id }}</td> -->
        </ng-container>

        <!-- Columna Prodcuto -->
        <ng-container matColumnDef="producto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Producto</th>
          <td mat-cell *matCellDef="let row">{{ row.producto.Nombre}}</td>
        </ng-container>

         <!-- Columna Cantidad -->
         <ng-container matColumnDef="cantidad">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</th>
          <td mat-cell *matCellDef="let row">{{ row.Cantidad}}</td>
        </ng-container>

        <!-- Columna Producto -->
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Subtotal</th>
          <td mat-cell *matCellDef="let row">{{ row.Subtotal | currency : "₡" }}</td>
        </ng-container>

        <!-- Columna acciones -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let row">
            <button
              mat-mini-fab class="btnDetalle"
              color="accent"
              matTooltip="Detalle Pedido"
              aria-label="Detalle Pedido"
              color="primary"
              (click)="detalle(row.id)"
            >
              <mat-icon >info</mat-icon>
            </button>
            <button
            mat-mini-fab class="btnDetalle"
            color="accent"
            matTooltip="Evaluacion"
            aria-label="Evaluacion"
            color="primary"
            (click)="actualizarPedido(row.id, row.compra.id)"
          >
            <mat-icon >edit_attributes</mat-icon>
          </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        #paginator
        [length]="dataSource?.data?.length"
        [pageIndex]="0"
        [pageSize]="3"
        [pageSizeOptions]="[3, 5, 10]"
        aria-label="Selecccione una página"
      >
      </mat-paginator>
    </div>
    <!-- Table -->
  </mat-card-content>
</mat-card>
