<mat-card class="full-width">
    <!-- Titulo del Card -->
    <mat-card-title>
      <h1>Pedidos</h1>
    </mat-card-title>
    <mat-card-content>
      <!-- Table -->
      <div class="mat-elevation-z8" *ngIf="dataSource">
        <table
          mat-table
          [dataSource]="dataSource"
          class="full-width-table"
          matSort
          aria-label="Elements"
        >
          <!-- Columna Cliente -->
          <ng-container matColumnDef="cliente">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</th>
            <td mat-cell *matCellDef="let row">{{ row.compra.cliente.Nombre +' '+ row.compra.cliente.Apellido }}</td>
          </ng-container>
  
          <!-- Columna Prodcuto -->
          <ng-container matColumnDef="producto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Producto</th>
            <td mat-cell *matCellDef="let row">{{ row.producto.Nombre}}</td>
          </ng-container>

           <!-- Columna Cantidad -->
           <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</th>
            <td mat-cell *matCellDef="let row">{{ row.Cantidad}}</td>
          </ng-container>
  
          <!-- Columna Producto -->
          <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
            <td mat-cell *matCellDef="let row">{{ row.Subtotal| currency: "USD" }}</td>
          </ng-container>
  
          <!-- Columna acciones -->
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let row">
              <button
                mat-mini-fab
                color="accent"
                matTooltip="Detalle Pedido"
                aria-label="Detalle Pedido"
                color="primary"
                (click)="detalle(row.id)"
              >
                <mat-icon class="mat-18">info</mat-icon>
              </button>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
  
        <mat-paginator
          #paginator
          [length]="dataSource?.data?.length"
          [pageIndex]="0"
          [pageSize]="10"
          [pageSizeOptions]="[10, 30, 100]"
          aria-label="Selecccione una página"
        >
        </mat-paginator>
      </div>
      <!-- Table -->
    </mat-card-content>
  </mat-card>
  