<form
  [formGroup]="productoForm"
  (ngSubmit)="isCreate ? crearProducto() : actualizarVideojuego()"
  novalidate
>
  <input type="hidden" formControlName="id" />
  <input type="hidden" formControlName="vendedorId" />
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>{{ titleForm }} Producto</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              #nombre
              formControlName="nombre"
              maxlength="200"
              placeholder="Nombre"
            />
            <mat-hint align="end"> {{ nombre.value.length }}/ 200</mat-hint>
            <mat-error *ngIf="errorHandling('nombre', 'required')">
              Nombre es <strong>requerido</strong>
            </mat-error>
            <mat-error *ngIf="errorHandling('nombre', 'minlength')">
              Nombre debe tener <strong>3 caracteres</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              type="number"
              placeholder="Precio"
              formControlName="precio"
            />
            <span matTextPrefix>₡&nbsp;</span>
            <mat-error *ngIf="errorHandling('precio', 'required')">
              Precio es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea
              matInput
              #descripcion
              placeholder="Descripción"
              [maxlength]="500"
              formControlName="descripcion"
            ></textarea>
            <mat-hint align="end">
              {{ descripcion.value.length }}/ 200</mat-hint
            >
            <mat-error *ngIf="errorHandling('descripcion', 'required')">
              Descripción es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              #cantidad
              formControlName="cantidad"
              maxlength="10"
              placeholder="Cantidad"
            />
            <mat-error *ngIf="errorHandling('cantidad', 'required')">
              Cantidad es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col" *ngIf="CategoriaList">
          <mat-form-field class="full-width">
            <mat-select placeholder="Categoria" formControlName="categoria">
              <mat-option *ngFor="let g of CategoriaList" [value]="g.id">
                {{ g.Descripcion }}
              </mat-option>
            </mat-select>
            <mat-error> Categoria es <strong>requerido</strong> </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <input type="file" formControlName="fotos" accept="image/" (change)="onFileChange($event)" multiple>
          Seleccione hasta 5 imágenes
          <mat-error *ngIf="errorHandling('fotos', 'required')"> Selecione al menos una imagen.</mat-error>
          <mat-error *ngIf="countSelectedImages() > 5">No puedes seleccionar más de 5 imágenes</mat-error>
        </div>
      </div>
      
      <div class="row" *ngIf="productoForm.get('fotos').value && productoForm.get('fotos').value.length > 0">
        <div class="col">
          <strong>Archivos seleccionados:</strong>
          <ul>
            <li *ngFor="let file of productoForm.get('fotos').value">{{ file.name }}</li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-label>Ocultar</mat-label>
          <mat-radio-group formControlName="borrado">
            <mat-radio-button [value]="false">No</mat-radio-button>
            <mat-radio-button [value]="true">Sí</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Guardar</button>
    </mat-card-actions>
  </mat-card>
</form>
