<!--<p>mensaje-index-admin works!</p>-->

<mat-card class="full-width color">
    <!-- Titulo del Card -->
    <mat-card-title>
      <h1 class="titulo"> Índice de productos según mensaje</h1>
    </mat-card-title>

    <mat-card-content>
      <!-- Table -->
      <div class="mat-elevation-z8" *ngIf="dataSource">
        <table
          mat-table
          [dataSource]="dataSource"
          class="full-width-table"
          matSort
          aria-label="Elements"
        >
        <!-- Columna Foto -->
        <ng-container matColumnDef="foto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Foto</th>
            <td mat-cell *matCellDef="let row">
            <img
                *ngIf="row.FotoProducto[0] !== undefined"
                mat-card-image
                class="fotoProducto"
                [src]="'data:image/jpeg;base64,' + row.FotoProducto[0].Foto"
                alt="Foto de + {{ row.Nombre }}"
            />
            </td>
        </ng-container>

          <!-- Columna Producto -->
          <ng-container matColumnDef="producto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Producto</th>
            <td mat-cell *matCellDef="let row">{{ row.Nombre }}</td>
          </ng-container>
    
          <!-- Columna acciones -->
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>Ver mensajes</th>
            <td mat-cell *matCellDef="let row">
              <button mat-mini-fab 
                color="accent"
                class="btnBoton"
                matTooltip="Mensajes"
                aria-label="Mensajes"
                color="primary"
                (click)="mensajes(row.id)"
              >
              <mat-icon>question_answer</mat-icon>
              </button>
            </td>
          </ng-container> 
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
  
        <mat-paginator
          #paginator
          [length]="dataSource?.data?.length"
          [pageIndex]="0"
          [pageSize]="5"
          [pageSizeOptions]="[5, 10, 15]"
          aria-label="Selecccione una página"
        >
        </mat-paginator>
      </div>
      <!-- Table -->
    </mat-card-content>
  </mat-card>